//! **************************************************************************
// Written by: Map K.39 on Mon Apr 01 23:32:26 2013
//! **************************************************************************

SCHEMATIC START;
COMP "R<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "R<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "R<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "Vsync" LOCATE = SITE "U3" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "data" LOCATE = SITE "P11" LEVEL 1;
COMP "keyboard_CLK" LOCATE = SITE "R12" LEVEL 1;
PIN keyboard_CLK_pin<0> = BEL "keyboard_CLK" PINNAME PAD;
PIN "keyboard_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Hsync" LOCATE = SITE "T4" LEVEL 1;
COMP "B<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "B<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "G<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "G<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "G<2>" LOCATE = SITE "P6" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "keyboard_CLK_BUFGP/IBUFG" BEL "keyboard_CLK_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

