//! **************************************************************************
// Written by: Map K.39 on Mon Apr 01 15:25:59 2013
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "B<0>" LOCATE = SITE "U4" LEVEL 1;
COMP "B<1>" LOCATE = SITE "U5" LEVEL 1;
COMP "R<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "R<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "Hsync" LOCATE = SITE "T4" LEVEL 1;
COMP "R<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "SW0" LOCATE = SITE "G18" LEVEL 1;
COMP "SW1" LOCATE = SITE "H18" LEVEL 1;
COMP "SW2" LOCATE = SITE "K18" LEVEL 1;
COMP "SW3" LOCATE = SITE "K17" LEVEL 1;
COMP "SW4" LOCATE = SITE "L14" LEVEL 1;
COMP "SW5" LOCATE = SITE "L13" LEVEL 1;
COMP "SW6" LOCATE = SITE "N17" LEVEL 1;
COMP "SW7" LOCATE = SITE "R17" LEVEL 1;
COMP "G<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "G<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "G<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "Vsync" LOCATE = SITE "U3" LEVEL 1;
SCHEMATIC END;

